<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <h1><%= title %></h1>
        <ul>
            <% if (locals.characters){%>
                <% users.forEach(function(character){ %>
                <li><%character.id%>: <%character.charactername%></li>
                <%}); %>
            <% } %>        
        </ul>
    </body>
</html>