<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
<body>
  <h1><%= title %></h1>
  
  <form action="/newset" method="POST">
    <label for="setName">Set Name: </label>
    <input type="text" name="setName" id="setName" required minlength="3" maxlength="30">
    <button type="submit">Submit</button>
  </form>
  <a href="/itemsets">Back to item sets</a>
</body>
</html>