<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/style.css" type="text/css">
  </head>
<body>
  <h1><%= title %></h1>
  
  <form action="/<%= set.setid %>/edit" method="POST">
    <label for="setName">Set Name: </label>
    <input type="text" name="setName" id="setName" required minlength="3" maxlength="30" value="<%= set.setname%>">
    <button type="submit">Submit</button>
  </form>
  <a href="/itemsets">Back to item sets</a>
</body>
</html>